<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
    <bean id="info" class="my.app.Info">
    	<property name="id">
    		<value>10</value>
    	</property>
    </bean>
    <bean id="process" class="my.app.Process">
    	<property name="ob1">
    		<ref bean="info"/>
    	</property>
    </bean>

</beans>